*.DS_Store
*.zip
*.JPG
*.jpg
*.csv
*.o
*.txt
*.pyc
*.ipynb_checkpoints
*.vscode
*.png
/evaluation/generated_data
/evaluation/data
/ltrc_yahoo
.idea

evaluation/temp
evaluation/plots
evaluation/plots_20
evaluation/plots_1000
evaluation/psvm_results
evaluation/results
evaluation/results_20
evaluation/results_1000
evaluation/nsvm_results
evaluation/nsvm_qid_c
evaluation/psvm_qid_c

evaluation/svm_proprank/svm_proprank_learn
evaluation/svm_proprank/svm_proprank_classify
evaluation/svm_proprank/**/*.o

generation/svm_rank/svm_rank_learn
generation/svm_rank/svm_rank_classify
generation/svm_rank/**/*.o

generation/*.txt
generation/temp
